/* Login Page */
body{
	margin: 0 auto;
	background-image: url("../img/wallpaper.png");
	background-repeat: no-repeat;
	background-size: 100% 720px;
}

.container{
	margin-top: 100px;
	width: 323.5px;
	height: 386px;
	left: 0px;
	top: 0px;
	background: #FFFFFF;
	box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
}

.container img{
	width: 50px;
	height: 50px;
	margin-top: 30px;
}

input[type="text"],input[type="password"]{
	margin-top: 30px;
	height: 45px;
	width: 300px;
	font-size: 18px;
	margin-bottom: 20px;
	background-color: #fff;
	padding-left: 40px;
}

.form-input::before{
	content: "\f007";
	font-family: "FontAwesome";
	padding-left: 07px;
	padding-top: 40px;
	position: absolute;
	font-size: 35px;
	color: #2980b9;
}

.form-input:nth-child(2)::before{
	content: "\f023";
}

.btn-login{
	padding: 15px 25px;
	border: none;
	background-color: #27ae60;
	color: #fff;
}